<div ng-controller="ForumController as vm" class="bodyColor">
  <form ng-submit="vm.createforumpost()" style="padding: 90px">
    <h2 style="text-align:center">Create Forum Post</h2>
       <md-input-container >
          <label> Post Title</label>
          <input required ng-model="vm.fpost.title"></input>
        </md-input-container>
        <md-input-container >
          <!-- <label> Content </label> -->
          <textarea ui-tinymce ng-model="vm.fpost.body"></textarea>
        </md-input-container>
        <md-input-container layout-padding>
            <label> Channel </label>
            <md-select ng-model="vm.fpost.channel">
              <md-option value="General">General</md-option>
              <md-option value="Job Board"> Job Board </md-option>
              <md-option value="Interview Prep"> Interview Prep </md-option>
              <md-option value="Code Questions"> Code Questions</md-option>
              <md-option value="Meetups"> Meetups </md-option>
              <md-option value="Bootcamp Reviews"> Bootcamp Reviews </md-option>
              <md-option value="Tech News">Tech News</md-option>
              <md-option value="Developer Tips">Developer Tips</md-option>
              <md-option value="Useful Resouces">Useful Resources</md-option>

            </md-select>
          </md-input-container>
            <div layout style="padding-top:50px">
            <md-button type="submit" class="md-flat">Create</md-button>
            <md-button type="button" class="md-flat" ui-sref="Forums">Cancel</md-button>
          </div>
    </form>
    <footer style="text-align:center">&copy Phoja Unlimited LLC</footer>

</div>
