<div ng-controller="ProfileController as vm" class="bodyColor">
<form  layout style="padding: 90px">
    <div>

      <!-- Pic Upload -->
        <md-button required class="md-primary"ng-click="vm.uploadPic()">Upload a Photo</md-button>

      <!-- Change background color -->
     <md-input-container flex="30" layout-padding>
       <label>Profile Background Color</label>
       <md-select ng-model="vm.profile.color" placeholder="Bkgrd Colors">
       <md-option style="background-color: {{color}}" ng-value='color' ng-repeat="color in vm.colors">{{color}}</md-option>
      </md-select>
   </md-input-container>

   <md-input-container>
     <label>Profile Tagline</label>
     <input required ng-model="vm.profile.tagLine">
   </md-input-container>

      <md-input-container>
        <label>Username</label>
        <input required ng-model="vm.profile.userName">
      </md-input-container>
      <md-input-container>
        <label> First Name </label>
        <input required ng-model="vm.profile.name"></input>
      </md-input-container>
      <md-input-container>
        <label> Last Name </label>
        <input required ng-model="vm.profile.lastName"></input>
      </md-input-container>
      <md-input-container>
        <label> Email </label>
        <input  required ng-model="vm.profile.email"></input>
      </md-input-container>
      <md-input-container>
        <label> Location </label>
        <input required ng-model="vm.profile.location"></input>
      </md-input-container>
       <md-input-container >
        <label> Title  </label>
        <input  ng-model="vm.profile.title"></input>
      </md-input-container>
        <md-input-container layout-padding>
          <label> Role </label>
          <md-select ng-model="vm.profile.role">
            <md-option value="Newbie"> Future Dev </md-option>
            <md-option value="Current Student"> Current Student </md-option>
            <md-option value="Recent Graduate"> Recent Graduate </md-option>
            <md-option value="Recruiter"> Recruiter </md-option>
            <md-option value="Mentor"> Mentor </md-option>
          </md-select>
        </md-input-container>
       <md-input-container >
        <label> Where You've Been  </label>
        <input  ng-model="vm.profile.userBeen"></input>
      </md-input-container>
      <md-input-container >
        <label> Where You're At  </label>
        <input  ng-model="vm.profile.userAt"></input>
      </md-input-container>
      <md-input-container >
        <label> Where You're Going?  </label>
        <input  ng-model="vm.profile.userGoing"></input>
      </md-input-container>

      <div layout="row" ng-repeat="a in vm.profile.languages" style="padding-left:6px;">
        <md-input-container >
          <label> Languages </label>
          <input  ng-model="vm.profile.languages[$index].lang"></input>
        </md-input-container>
        <md-input-container >
          <label> Proficiency from 1 to 5 </label>
          <input  ng-model="vm.profile.languages[$index].level"></input>
        </md-input-container>
              <md-button type="button" ng-click="vm.profile.languages.splice($index, 1)">X</md-button>
        </div>

           <!-- <md-button class="md-warn" ng-click='vm.showLinks()'>Click to display link on profile</md-button> -->
        <md-input-container >
          <input style="text-align:center;" type="text" ng-model='vm.profile.profileFBlink' placeholder="Enter Facebook Profile URL...">
        </md-input-container>

         <md-input-container>
         <input style="text-align:center;"type="text" ng-model='vm.profile.profileLKlink' placeholder="Enter Linkedin Profile URL...">
        </md-input-container>

        <md-input-container>
          <input style="text-align:center;" type="text" ng-model='vm.profile.profileTWlink' placeholder="Enter Twitter Profile URL...">
        </md-input-container>

        <md-input-container>
          <input style="text-align:center;"type="text" ng-model='vm.profile.profileGHlink' placeholder="Enter Github Profile URL...">
        </md-input-container><!-- -->



        <div style="text-align:center">
          <md-button type="button" class="md-flat" ng-click="vm.profile.languages.push({});" bng-disabled="!vm.profile.languages.lang || !vm.profile.languages.level">Add Programming Language</md-button>
        </div>

          <div layout="row" style="padding-top:50px">
          <md-button  ng-click="vm.editProfile(vm.profile)" class="md-flat"> Update Profile </md-button>
          <md-button type="button" class="md-flat" ui-sref="Profile({id: nav.status._id})"> Cancel</md-button>
          <md-button type="button" class="md-flat"> Reset Password </md-button>
          <md-button type="button" class="md-flat" ng-click="vm.deleteProfile(vm.profile)" > Delete Account </md-button>

        </div>
    </div>
  </form>
</div>
