<div ng-controller="ForumController as vm" class="bodyColor">


<div style="text-align:center">
<md-button class="md-primary"ui-sref="CreateForumPost">Create a Forum Post</md-button>
</div>

  <md-tabs class="md-primary">
    <md-tab style="text-align:center; color:#32B2B2 margin:auto" ng-repeat="t in vm.topics" ng-click="vm.getPostsByTopic(t)">
      <md-tab-label class="tabs"> {{t}} </md-tab-label>
      <md-tab-body>

        <div layout="column" ng-repeat="p in vm.topicPosts">
          <div style="padding-left:60px" class="md-list-item-text" style="padding:10px;">
            <h4 ui-sref="ForumPost({id: p._id})">{{p.title | firstLetterFilter}}</h4>
            <h5>Posted by: <a ui-sref="Profile({id: p.creatorId})">{{p.createdBy.name  | firstLetterFilter}} {{p.createdBy.lastName | firstLetterFilter }}</a> on {{p.date | dateFilter}}</h5>
            <!-- <div layout>
              <md-button class="zmdi zmdi-edit" ui-sref="EditFPost({id: p._id})"> Edit</md-button>
              <md-button class="zmdi zmdi-delete" ng-click="vm.deleteFPost(p._id)"> Delete</md-button>
            </div> -->
          </div>
          <md-divider ng-if="!$last" style="padding: 5px"></md-divider>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>

  <footer style="text-align:center">&copy Phoja Unlimited LLC</footer>

</div>
