<div ng-controller="HomeController as vm" class="bodyColor">

    <md-button  class="zmdi zmdi-redo" ng-show ='nav.status.name;'ng-click="p.reblog = !p.reblog"> Create Post</md-button>
      <div uib-collapse="!p.reblog" layout>
          <div layout="column" layout-align="center center">
            <md-button required class="md-primary"ng-click="vm.uploadPic()">Upload a Photo</md-button>
              <div flex="40" style="padding-bottom: 10px;">
                <form ng-submit="vm.createPost();">
                  <md-input-container layout-padding>
                    <label> Post Title</label>
                    <input required ng-model="vm.post.title" />
                  </md-input-container>
                  <md-input-container style="display:hidden;"layout-padding>
                    <label> Post Url</label>
                    <input ng-model="vm.post.pic" />
                  </md-input-container>
                  <textarea ui-tinymce  ng-model="vm.post.body"></textarea>
                  <md-input-container>
                  <label> Insert Tags</label>
                     <md-chips
                         ng-model="vm.post.tags"
                         readonly="vm.post.readonly"
                         delete-button-label="Remove Tag"
                         delete-hint="Press delete to remove tag"
                         ></md-chips>
                  </md-input-container>
                  <br>
                  <md-button type="submit" class="zmdi zmdi-mail-send" > Post </md-button>
                </form>
        </div>
</div>
</div>
<md-divider ng-if="!$last" ></md-divider>
<h5 style="text-align: center"> News Feed </h5>
    <div ng-repeat='p in vm.allPosts' >

        <div layout>
          <div style='padding-left:50px;' flex="15" id="parent">
        <img src="{{p.avi}}" class="avatar" style="margin-left: 10px"/>
        <div id="hover-content" flex="15">

          <a ui-sref="Profile({id: p.creatorId})">{{p.createdBy.name | firstLetterFilter}} {{p.createdBy.lastName | firstLetterFilter }}</a>
          <md-button class="zmdi zmdi-plus-circle-o small-btn" ng-show="!vm.followed" ng-click="vm.followOnPost(p); vm.followed = true;" aria-label="follow"> </md-button>
          <md-button class="zmdi zmdi-minus-circle-outline small-btn" ng-show="vm.followed" ng-click="vm.unfollowOnPost(p);" aria-label="unfollow"> </md-button>
          <md-button class="zmdi zmdi-email" ui-sref="Message({id: p.creatorId})"></md-button>
        </div>
      </div>
      <div flex-offset="5">
        <div layout="column">
        <h2 >  {{p.title}} </h2>
        <div><img src="{{p.pic}}" class="post-pic"/></div>
        <h4 ng-bind-html="p.body"></h4>
        <h5> By: <a ui-sref="Profile({id: p.creatorId})">{{p.createdBy.name | firstLetterFilter}} {{p.createdBy.lastName | firstLetterFilter}}</a> on {{p.date | dateFilter}}</h5>
        <h6> Posted in: <a ng-repeat="t in p.tags" ui-sref="Tag({tag: t})">{{t}},</a></h6>
        <div ng-repeat="c in p.comments">
          <div layout>
            <div flex="15" id="parent">
          <img src="{{c.avi}}" class="avatar" />
          <div id="hover-content" flex="15">
            <div layout="column">
            <md-button class="zmdi zmdi-plus-circle-o small-btn" ng-show="!vm.comfollowed" ng-click="vm.followOnPost(c); vm.comfollowed = true;" aria-label="follow"> </md-button>
            <md-button class="zmdi zmdi-minus-circle-outline small-btn" ng-show="vm.comfollowed" ng-click="vm.unfollowOnPost(c);" aria-label="unfollow"> </md-button>
            <md-button class="zmdi zmdi-email small-btn" ui-sref="Message({id: c.creatorId})"></md-button>
          </div>
          </div>
        </div>
            <div flex-offset="5">
              <h2>{{c.creatorName | firstLetterFilter}} says:</h2>
          <h3>{{c.title | firstLetterFilter}}</h3>
          <h4>{{c.content | firstLetterFilter}}</h4>
        </div>
        </div>
        </div>
      </div>
      <div layout>
        <div flex>
        <md-button class="zmdi zmdi-thumb-down" ng-click="vm.downvote(p)" aria-label="down"> </md-button>
        <md-button class="zmdi zmdi-thumb-up" ng-click="vm.upvote(p)" aria-label="up"> </md-button>
      </div>
    </div>
    <div layout>
      <div flex>
      <md-button class="zmdi zmdi-redo" ng-click="p.reblog = !p.reblog">  Reblog</md-button>
        <div uib-collapse="!p.reblog">
          <div class="well well-lg">
            <form ng-submit="vm.reblog(p);">
              <md-input-container layout-padding>
                <label> Post Title</label>
                <input ng-model="vm.repost.title" />
              </md-input-container>
              <md-input-container>
              <textarea ng-model="vm.repost.content"></textarea>
            </md-input-container>
              <br>
              <br>
              <md-button type="submit" class="md-flat" > Post </md-button>
              <md-button  class="md-flat" ng-click="p.reblog = !p.reblog"> Cancel </md-button>
      </form>
    </div>
          </div>
        </div>
    </div>
      </div>

        </div>
        <div layout>
          <div flex>
        <div class="share">
          <h6>Share:</h6>
          <a href="#" id="linkedin" class="social-btn"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-linkedin"></i>
            </a>
          <a href="#" id="facebook" class="social-btn"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-facebook"></i>
            </a>
          <a href="#" id="twitter" class="social-btn"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-twitter"></i>
            </a>

          <a href="#" id="google" class="social-btn"
            socialshare
            socialshare-provider="google+"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
        </div>
          </div>
        <md-divider ng-if="!$last"></md-divider>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<g:hangout
   render="createhangout"
   topic="cpp11"
   hangout_type="moderated"
   invites="[{ id : '103757504279751950811', invite_type : 'PROFILE' },
       { id : 'pearlmcphee@gmail.com', invite_type : 'EMAIL' }]">
</g:hangout> -->
</div>
