<div ng-controller="HomeController as vm" class="bodyColor">

  <h5 style="text-align: center"> Home Page </h5>

<!-- <div ng-controller="ProfilePostController as vm"> -->
<div layout layout-align="center center" ng-show ='nav.status.name;'>
    <div flex="40" style="padding-bottom: 20px;">
      <form ng-submit="vm.createPost();">
        <md-input-container layout-padding>
          <label> Post Title</label>
          <input required ng-model="vm.post.title" />
        </md-input-container>

        <textarea ui-tinymce ng-model="vm.post.body"></textarea>
        <br>
        <br>
        <md-button type="submit" class="md-raised" > Post </md-button>
</form>
</div>
</div>
<md-divider ng-if="!$last" ></md-divider>
<h5 style="text-align: center"> News Feed </h5>


<md-content>
  <md-list style="padding-left: 70px">

    <md-list-item ng-repeat='p in vm.allPosts' >
      <div class='md-list-item-text' style='padding:10px; padding-left:30px' >
        <h2 >  {{p.title}} </h2>
        <h4 ng-bind-html="p.body"></h4>
        <h5> By: {{p.createdBy.name | firstLetterFilter}} {{p.createdBy.lastName | firstLetterFilter}} on {{p.date | dateFilter}}</h5>
        <div layout>
          <md-button class="zmdi zmdi-thumb-down" ng-click="vm.downvote(p)" aria-label="down"> </md-button>
          <md-button class="zmdi zmdi-thumb-up" ng-click="vm.upvote(p)" aria-label="up"> </md-button>
      </div>
      <md-button class="zmdi zmdi-plus-circle" ng-click="vm.followOnPost(p);" aria-label="follow"> Follow</md-button>
      <md-button class="zmdi zmdi-redo" ng-click="p.reblog = !p.reblog">  Reblog</md-button>
        <div uib-collapse="!p.reblog">
          <div class="well well-lg">
            <form ng-submit="vm.reblog(p);">
              <md-input-container layout-padding>
                <label> Post Title</label>
                <input ng-model="vm.repost.title" />
              </md-input-container>

              <textarea ui-tinymce ng-model="vm.repost.content"></textarea>
              <br>
              <br>
              <md-button type="submit" class="md-raised" > Post </md-button>
              <md-button  class="md-raised" ng-click="p.reblog = !p.reblog"> Cancel </md-button>
      </form>
          </div>
        </div>
        <div class="share">
          <a href="#" id="linkedin" class="social-btn"
            socialshare
            socialshare-provider="linkedin"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-linkedin"></i>
            </a>
          <a href="#" id="facebook" class="social-btn"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-facebook"></i>
            </a>
          <a href="#" id="twitter" class="social-btn"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-twitter"></i>
            </a>

          <a href="#" id="google" class="social-btn"
            socialshare
            socialshare-provider="google+"
            socialshare-text="{{p.title}}"
            socialshare-url="http://localhost:8080">
            <i class="fa fa-google-plus"></i>
            </a>
          </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
</div>

</div>
