<!-- <div ng-controller='PassResetController as vm'> -->

<form ng-submit="nav.resetPassword()">

Please Choose your new password here
	<div class="form-group">
		<label>Password</label>
		<input type="text" placeholder="Password..." required ng-model="nav.user.password" />
	</div>

	<div class="form-group">
		<label>Confirm Email</label>
		<input type="text" placeholder="Confirm Password..." required ng-model="nav.user.confirmPass" />
	</div>

	<div class="form-group">
		<button type="submit" ng-disabled="!nav.user.password || !nav.user.confirmPass">Submit</button>
	</div>
</form>
