<div ng-controller='PassResetController as vm'>

<div>
  <form ng-submit='vm.sendEmail()'>
    <md-input-container class='col-md-12'>
      <label style="text-align:center">Enter Your Email</label>
      <input type='email' ng-model='vm.email'>
    </md-input-container>
  </form><br>
  <center>
    <md-button class='md-raised md-primary' ng-click='vm.sendEmail()'>Send Email</md-button>
  </center>
</div>
  <h1>{{vm.errorMessage}}</h1>
<center>
  <div ng-show='vm.loading' layout='row' layout-sm='column' layout-align='space-around'>
    <md-progress-circular md-mode='indeterminate' md-diameter='80'></md-progress-circular>
  </div>
</center>

</div>
