<div style="border:{{vm.profile.color}} 50px solid;padding-top:1px;margin-bottom:-80px;" ng-controller="ProfileController as vm" class="bodyColor">
  <div style="background-color:white;padding-top:1px;">


    <img src=' {{vm.profile.badge}}'>
  <!-- <div class="yeah">Angular<bars data="40" labels="Angular, Javascript"></bars></div>
  javascript <bars data="4" labels="Angular, Javascript"></bars>
  JQuery
   <bars data="55" labels="Angular, Javascript"></bars> -->

<div style="text-align:center;">
  <h2>{{vm.profile.tagLine}}</h2>
</div>
    <!-- <div ng-show='vm.profile.pic.length'  style="height:225px;width:225px;  margin-left:50px;text-align:center;"> -->
<div layout>
      <div layout="column">
        <div flex-offset="5" flex="20">
          <h4>{{vm.profile.name}} {{vm.profile.lastName}}</h4>
          <img ng-show='vm.profile.pic.length'  style='max-width:150px; max-height:150px; border-radius:4px;' src='{{vm.profile.pic}}'>
          <img ng-show='!vm.profile.pic.length' style='max-width:150px; max-height:150px; border-radius:4px;' src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS_wxp_qEFvoISSQK1duhZLXX-IO4jjyT-_nubJtY3WBryb_wbS'>
              <h4>{{vm.profile.location}}</h4>
              <span style="padding-left:15px">Followers:</span> <a ui-sref="Followers({id: vm.profile._id})">{{vm.profile.followers.length}}</a><br>
              <span style="padding-left:15px">Following:</span> <a ui-sref="Following({id: vm.profile._id})">{{vm.profile.following.length}}</a><br>
              <md-button class="zmdi zmdi-plus-circle-o" ng-click="vm.followOnProfile(p);" aria-label="follow"> Follow</md-button>
              <md-button class="zmdi zmdi-minus-circle-outline" ng-click="vm.unfollowOnProfile(p);" aria-label="unfollow"> Unfollow</md-button>
              <h4>Contact</h4>
              <!-- Personal Links -->
            <div style="text-align:center;">
              <div layout>
                <div style='margin: 5px;'>
                  <a target='_blank'class="list-group-item" ui-sref="Message({id: vm.profile._id})" target="_blank"><i class="zmdi zmdi-email" ></i></a></div>

                <div style='margin: 5px;' ng-show='vm.profile.profileFBlink'>
                  <a target='_blank'class="list-group-item" href="{{vm.profile.profileFBlink}}" target="_blank"><i class="zmdi zmdi-facebook"  ></i></a></div>

                <div style='margin: 5px;'ng-show='vm.profile.profileLKlink'>
                  <a target='_blank'class="list-group-item" href="{{vm.profile.profileLKlink}}" target="_blank"><i class="zmdi zmdi-linkedin-box" ></i></a></div>

                <div style='margin: 5px;'ng-show='vm.profile.profileTWlink'>
                  <a target='_blank'class="list-group-item" href="{{vm.profile.profileTWlink}}" target="_blank"><i class="zmdi zmdi-twitter" ></i></a></div>

                <div style='margin: 5px;'ng-show='vm.profile.profileGHlink'>
                  <a target='_blank'class="list-group-item" href="{{vm.profile.profileGHlink}}" target="_blank"><i class="zmdi zmdi-github" ></i></a></div>
             </div>
            </div>
            </div>

        </div>
        <div layout="column">
          <div layout></div>
          <h4 ng-show="vm.profile.userBeen">Has Been</h4>
          <p>{{vm.profile.userBeen}}</p>

          <h4 ng-show="vm.profile.userAt">Present</h4>
          <p>{{vm.profile.userAt}}</p>

          <h4 ng-show="vm.profile.userGoing">Future</h4>
          <p>{{vm.profile.userGoing}}</p>
        </div>
</div>


  </div> <!-- End of Profile display field -->

        <!-- To Create a post -->
  <div layout layout-align="center" ng-show ='nav.status.name;'>
    <div flex="50">
      <form style="margin-top:50px;"ng-submit="vm.createPost();">
        <md-input-container>
          <label>Title</label>
          <input required ng-model="vm.post.title"/>
        </md-input-container>
        <md-input-container >
          <label> Content </label>
          <textarea required ng-model="vm.post.body" columns="2"></textarea>
        </md-input-container>
        <md-input-container>
        <label>Tags</label>
           <md-chips
               ng-model="vm.post.tags"
               readonly="vm.post.readonly"
               placeholder="Enter a tag"
               delete-button-label="Remove Tag"
               delete-hint="Press delete to remove tag"
               ></md-chips>
        </md-input-container>
        <md-button type="submit" class="zmdi zmdi-mail-send" > Post </md-button>
</form>
</div>
</div>



            <!-- Post Display and edit -->
            <div ng-repeat='p in vm.profilePosts' >
                <div layout>
                  <div flex="15" id="parent">
                <img src="{{p.avi}}" class="avatar" />
                <div id="hover-content" flex="15">
                  <a ui-sref="Profile({id: p.creatorId})">{{p.createdBy.name }} {{p.createdBy.lastName }}</a>
                  <md-button class="zmdi zmdi-plus-circle-o small-btn" ng-click="vm.followOnPost(p);" aria-label="follow"> </md-button>
                  <md-button class="zmdi zmdi-minus-circle-outline small-btn" ng-click="vm.unfollowOnPost(p);" aria-label="unfollow"> </md-button>
                  <md-button class="zmdi zmdi-email" ui-sref="Message({id: p.creatorId})"></md-button>
                </div>
              </div>
              <div flex-offset="5">
                <div layout="column">
                <h2 >  {{p.title}} </h2>
                <h4 ng-bind-html="p.body"></h4>
                <h5> By: <a ui-sref="Profile({id: p.creatorId})">{{p.createdBy.name }} {{p.createdBy.lastName }}</a> on {{p.date | dateFilter}}</h5>
                <h6> Posted in: <a ng-repeat="t in p.tags" ui-sref="Tag({tag: t})">{{t}},</a></h6>
                <div ng-repeat="c in p.comments">
                  <div layout>
                    <div flex="15" id="parent">
                  <img src="{{c.avi}}" class="avatar" />
                  <div id="hover-content" flex="15">
                    <div layout="column">
                    <md-button class="zmdi zmdi-plus-circle-o small-btn" ng-click="vm.followOnProfile();" aria-label="follow"> </md-button>
                    <md-button class="zmdi zmdi-minus-circle-outline small-btn" ng-click="vm.unfollowOnProfile();" aria-label="unfollow"> </md-button>
                    <md-button class="zmdi zmdi-email small-btn" ui-sref="Message({id: c.creatorId})"></md-button>
                  </div>
                  </div>
                </div>
                    <div flex-offset="5">
                      <h2>{{c.creatorName}} says:</h2>
                  <h3>{{c.title}}</h3>
                  <h4>{{c.content}}</h4>
                </div>
                </div>
                </div>
              </div>
              <div layout>
                <div flex>
                <md-button class="zmdi zmdi-thumb-down" ng-click="vm.downvote(p)" aria-label="down"> </md-button>
                <md-button class="zmdi zmdi-thumb-up" ng-click="vm.upvote(p)" aria-label="up"> </md-button>
                <md-button class="zmdi zmdi-edit" ng-hide='showEdit' ng-click='showEdit = true; vm.startEdit(p);'> Edit </md-button>
                <md-button class="zmdi zmdi-delete" ng-hide='showEdit' ng-click="vm.deletePost(p._id)"> Delete </md-button>
              </div>
            </div>
          </div>
          </div>

            <!-- Editting Form -->
      <form ng-show = 'showEdit' style="margin-top:70px;margin-bottom:100px;padding:30px;background-color:white;" ng-submit='vm.editPost(p._id, vm.editingPost); showEdit = false;'>
          <md-input-container>
            <label> Title </label>
            <input type='text' ng-model='vm.editingPost.title'>
          </md-input-container>
          <md-input-container>
            <label> Content </label>
            <input type='text' ng-model='vm.editingPost.body'>
          </md-input-container>
          <md-button type='submit' class='md-raised' > Edit </md-button>
          <md-button type='button' class='md-raised' ng-click = "showEdit = false;"> Cancel </md-button>
      </form>
</div>
