<div ng-controller="TestController as vm">
Share on
<a href="#" id="linkedin" class="social-btn"
  socialshare
  socialshare-provider="linkedin"
  socialshare-text="720kb angular-socialshare"
  socialshare-url="http://720kb.net">
  <i class="fa fa-linkedin"></i>
  </a>
<a href="#" id="facebook" class="social-btn"
  socialshare
  socialshare-provider="facebook"
  socialshare-text="720kb angular-socialshare"
  socialshare-url="http://720kb.net">
  <i class="fa fa-facebook"></i>

  </a>

<a href="#" id="twitter" class="social-btn"
  socialshare
  socialshare-provider="twitter"
  socialshare-text="720kb angular-socialshare"
  socialshare-url="http://720kb.net">
  <i class="fa fa-twitter"></i>
  </a>

<a href="#" id="google" class="social-btn"
  socialshare
  socialshare-provider="google+"
  socialshare-text="720kb angular-socialshare"
  socialshare-url="http://720kb.net">
  <i class="fa fa-google-plus"></i>
  </a>
</div>
