<!DOCTYPE html>
<html ng-app="app">

<head>
	<title> Coder Nets </title>

	<!--  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/angular-material/angular-material.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="/css/speech-input.css">
	<link rel="stylesheet" href="/angular-ui-notification/dist/angular-ui-notification.min.css">
	<!-- <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body ng-controller='GlobalController as nav' class="bodyColor">

	<md-sidenav layout="column" class="md-sidenav-left bodyColor" md-component-id="left">
		<md-toolbar style=" opacity:0.3; padding: 10px; background-color:#32B2B2; height:125px">
			<div class="md-toolbar-tools">
			</div>
		</md-toolbar>
		<md-content style="background-color: #dddfd4">
			<md-list>
				<md-list-item ng-click="nav.closeAndGo('About')"> About Us </md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="nav.closeAndGo('Home')"> Home Page </md-list-item>
				<md-divider></md-divider>
				<div ng-show='nav.status.email;'>
					<md-list-item ng-click="nav.closeAndGo('Profile',nav.status._id)"> Profile </md-list-item>
					<md-divider></md-divider>
				</div>
				<md-list-item ng-click="nav.closeAndGo('Forums')"> Forums </md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="nav.closeAndGo('Contact')"> Contact </md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>

	<md-toolbar style=" background-color:#32B2B2; height:125px" layout>
		<section layout flex layout-align="left">
			<md-button class="zmdi zmdi-menu zmdi-hc-2x" ng-click="nav.toggleSidenav()" style="padding-top: 12px" aria-label="Toggle Menu">
			</md-button>
			<h2 class="logo" ui-sref="Home"> &#060;&nbsp;Coder Net&nbsp;&#062; </h2>

		</section>


		<section layout layout-align="end end">

			<md-button ui-sref="Profile({id: nav.status._id})" ng-show='nav.status.email;'> Welcome {{nav.status.name}} </md-button>
			<md-button type='button' ng-click='nav.logout()' ng-show='nav.status.email;'> Logout </md-button>
			<md-button type='button' ui-sref='RegLog' ng-show='!nav.status.email;'> Login/Register </md-button>
		</section>

	</md-toolbar>

	<ui-view></ui-view>

	<footer class="footer-distributed" style=" background-color:#32B2B2;">


		<div class="footer-right">
					<p> Follow Us </p>
					<a href="#" target="_blank"><i class="zmdi zmdi-facebook-box"></i></a>
					<a href="#" target="_blank"><i class="zmdi zmdi-linkedin-box"></i></a>
					<a href="#" target="_blank"><i class="zmdi zmdi-twitter-box"></i></a>
					<a href="#" target="_blank"><i class="zmdi zmdi-github-box"></i></a>
				</div>


		<div class="footer-left">
			<h3 class="logo"> &#060;&nbsp;Coder Net&nbsp;&#062; </h3>

			<p class="footer-links">
				<a ui-sref="Home">Home</a> |
				<a ui-sref="Forum">Forum</a> |
				<a ui-sref="About">About</a> |
				<a ui-sref="Contact">Contact</a> |
				<a ui-sref="Terms">Terms of Service</a>
			</p>

			<p>Coder Net &copy; 2015</p>
		</div>
	</footer>


	<script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
	<!-- Ext Libs -->
	<script type="text/javascript" src="/tinymce-dist/tinymce.js"></script>
	<script src="//js.pusher.com/3.0/pusher.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="angular/angular.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js" charset="utf-8"></script>
	<!-- <script src="/angular-chart.js/dist/angular-chart.js"></script> -->
	<script src="/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
	<script type="text/javascript" src="/angular-ui-tinymce/src/tinymce.js"></script>
	<script src="angular-socialshare/src/js/angular-socialshare.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.js"></script>


	<!-- Material -->
	<script src="/angular-material/angular-material.min.js"></script>
	<script src="/angular-aria/angular-aria.min.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<script src="/javascript/speech-input.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/ProfileFactory.js"></script>
	<script src="/javascript/services/ForumFactory.js"></script>
	<script src="/javascript/services/AuthInterceptor.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/PassResetController.js"></script>
	<script src="/javascript/controllers/TokenController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/ForumController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/filters/firstletterfilter.js"></script>
	<script src="/javascript/filters/datefilter.js"></script>
	<!-- <script src="/javascript/controllers/chartDirective.js"></script> -->


</body>

</html>
