<!DOCTYPE html>
<html ng-app="app">

<head>
	<title> Coder Nets </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/angular-material/angular-material.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="css/demo.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
	<!-- <link rel="stylesheet" href="css/footer-distributed.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>

<body ng-controller='GlobalController as nav'>

	<md-toolbar style=" background-color:#32B2B2" layout>

		<section layout flex layout-align="left" style="padding-left:20px">
				<h1 class="logo" style="padding-left: 17px" ui-sref="Home"> &#060;&nbsp;Coder Net&nbsp;&#062; </h1>
		</section>


		<section layout layout-align="end end" >
			<md-button ui-sref="Profile({id: nav.status._id})" ng-show='nav.status.email;'> Welcome {{nav.status.name}} </md-button>
			<md-button type='button' ng-click='nav.logout()' ng-show='nav.status.email;'> Logout </md-button>
			<md-button type='button' ui-sref='RegLog' ng-show='!nav.status.email;'> Login/Register </md-button>
		</section>

	</md-toolbar>
	<script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
	<!-- <input type="filepicker" data-fp-apikey="ANDYMo7mqQjawgErCA0F0z"
onchange="alert(event.fpfile.url)"> -->
	<ui-view></ui-view>

	<footer class="footer-distributed" style=" background-color:#32B2B2">

		<div class="footer-right">
			<p> Follow Us </p>
			<a class="list-group-item" href="#" target="_blank"><i class="zmdi zmdi-facebook"></i></a>
			<a class="list-group-item" href="#" target="_blank"><i class="zmdi zmdi-linkedin-box"></i></a>
			<a class="list-group-item" href="#" target="_blank"><i class="zmdi zmdi-twitter"></i></a>
			<a class="list-group-item" href="#" target="_blank"><i class="zmdi zmdi-github"></i></a>

		</div>

		<div class="footer-left">
	<h3 class="logo" > &#060;&nbsp;Coder Net&nbsp;&#062; </h3>

			<p class="footer-links">
				<a ui-sref="Home">Home</a>
				|
				<a ui-sref="Forum">Forum</a>
				|
				<a ui-sref="About">About</a>
				|
				<a ui-sref="Contact">Contact</a>
				|
				<a ui-sref="Terms">Term of Service</a>
			</p>

			<p>Coder Net &copy; 2015</p>
		</div>

	</footer>


	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-socialshare/src/js/angular-socialshare.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- Material -->
	<script src="/angular-material/angular-material.min.js"></script>
	<script src="/angular-aria/angular-aria.min.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/ProfileFactory.js"></script>
	<script src="/javascript/services/ForumFactory.js"></script>

	<script src="/javascript/services/AuthInterceptor.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/PassResetController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/ForumController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/ProfilePostController.js"></script>
	<script src="/javascript/controllers/TestController.js"></script>


</body>

</html>
